target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Downloaded vk.xml
/vk4j/vkxml2java/vk.xml

# Generated auxiliary programs
*.exe

# C/C++ build output
*.o
*.dll
*.so
*.lib
*.a
*.pdb
*.ilk
*.exp
*.obj
!tutorial/src/main/resources/model/viking_room.obj

# Assembly plugin produced files
tutorial/dependency-reduced-pom.xml

# Flatten plugin produced files
**/.flattened-pom.xml

# Code Generator Input
codegen/input/*
!codegen/input/download.sh
!codegen/input/Doxyfile.vma

# VMA build input
vma/vma_build/vk_mem_alloc.h

# Python __pycache__
**/__pycache__/

# Javadoc output

javadoc_gen
