modules/vulkan/src/main/java/club/doki7/vulkan/bitmask/*.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/command/*.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/datatype/*.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/enumtype/*.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/handle/*.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/VkConstants.java linguist-generated
modules/vulkan/src/main/java/club/doki7/vulkan/VkFunctionTypes.java linguist-generated

modules/opengl/src/main/java/club/doki7/opengl/handle/*.java linguist-generated
modules/opengl/src/main/java/club/doki7/opengl/GL.java linguist-generated
modules/opengl/src/main/java/club/doki7/opengl/GLCompatibility.java linguist-generated
modules/opengl/src/main/java/club/doki7/opengl/GLConstants.java linguist-generated

modules/openal/src/main/java/club/doki7/openal/handle/*.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/AL.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/ALC.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/ALConstants.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/ALCConstants.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/ALFunctionTypes.java linguist-generated
modules/openal/src/main/java/club/doki7/openal/EFXReverbPresets.java linguist-generated

modules/gles2/src/main/java/club/doki7/gles2/GLES2.java linguist-generated
modules/gles2/src/main/java/club/doki7/gles2/GLES2Constants.java linguist-generated

modules/glfw/src/main/java/club/doki7/glfw/datatype/*.java linguist-generated
modules/glfw/src/main/java/club/doki7/glfw/handle/*.java linguist-generated
modules/glfw/src/main/java/club/doki7/glfw/GLFW.java linguist-generated
modules/glfw/src/main/java/club/doki7/glfw/GLFWConstants.java linguist-generated
modules/glfw/src/main/java/club/doki7/glfw/GLFWFunctionTypes.java linguist-generated

modules/vma/src/main/java/club/doki7/vma/VMA.java linguist-generated
modules/vma/src/main/java/club/doki7/vma/VMAFunctionTypes.java linguist-generated
modules/vma/src/main/java/club/doki7/vma/bitmask/*.java linguist-generated
modules/vma/src/main/java/club/doki7/vma/datatype/*.java linguist-generated
modules/vma/src/main/java/club/doki7/vma/enumtype/*.java linguist-generated
modules/vma/src/main/java/club/doki7/vma/handle/*.java linguist-generated

modules/sdl3/src/main/java/club/doki7/sdl3/SDL3.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/SDL3Constants.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/SDL3FunctionTypes.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/bitmask/*.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/datatype/*.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/enumtype/*.java linguist-generated
modules/sdl3/src/main/java/club/doki7/sdl3/handle/*.java linguist-generated

modules/shaderc/src/main/java/club/doki7/shaderc/Shaderc.java linguist-generated
modules/shaderc/src/main/java/club/doki7/shaderc/ShadercFunctionTypes.java linguist-generated
modules/shaderc/src/main/java/club/doki7/shaderc/datatype/*.java linguist-generated
modules/shaderc/src/main/java/club/doki7/shaderc/enumtype/*.java linguist-generated
modules/shaderc/src/main/java/club/doki7/shaderc/handle/*.java linguist-generated

modules/stb/src/main/java/club/doki7/stb/**/*.java linguist-generated
modules/stb/src/main/java/club/doki7/stb/STBJavaTraceUtil.java linguist-detectable
modules/stb/src/main/java/club/doki7/stb/image/STBIUtil.java linguist-detectable
modules/stb/src/main/java/club/doki7/stb/imagewrite/STBWUtil.java linguist-detectable

modules/openxr/src/main/java/club/doki7/openxr/XRConstants.java linguist-generated
modules/openxr/src/main/java/club/doki7/openxr/XRFunctionTypes.java linguist-generated
modules/openxr/src/main/java/club/doki7/openxr/bitmask/*.java linguist-generated
modules/openxr/src/main/java/club/doki7/openxr/command/*.java linguist-generated
modules/openxr/src/main/java/club/doki7/openxr/datatype/*.java linguist-generated
modules/openxr/src/main/java/club/doki7/openxr/enumtype/*.java linguist-generated

modules/tutorial/src/main/java/**/*.java linguist-documentation
