target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Downloaded vk.xml
/vk4j/vkxml2java/vk.xml

# Generated auxiliary programs
*.exe

# Assembly plugin produced files
tutorial/dependency-reduced-pom.xml

# Flatten plugin produced files
**/.flattened-pom.xml

# Code Generator Input
codegen/input/*
!codegen/input/download.sh
